{% extends "base.html" %}
{% block start %}
   
<div class="container mt-5" >
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Update Reciepy</h1>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Reciepy Name</label>
          <input name="reciepy_name" value="{{receipe.reciepy_name}}" required type="text" class="form-control">
         
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Reciepy Description</label>
          <textarea class="form-control" value="" name="reciepe_description"  required>{{receipe.reciepe_description}}</textarea>
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Reciepy Image</label>
            <input name="reciepy_image" type="file" class="form-control">
          </div>
       
        <button type="submit" class="btn btn-success">Update Reciepy</button>
      </form>

    

</div>

{% endblock %}